.hx-button {
  display: flex;
  overflow: hidden;
  height: 34px;
  > div {
    margin: 1px;
    outline: 1px solid #1890ff;
    overflow: hidden;
    flex-grow: 1;
    transform: rotate(45deg);
    > div {
      flex-grow: 1;
      outline: 1px solid #1890ff;
      transform: rotate(-45deg);
      min-width: 80px;
      button {
        flex-grow: 1;
        border: 0;
      }
    }
  }
}

.hx-button[type='link'] * {
  outline: 0;
}
