/*
  跟业务相关的样式
*/
.loginpage {
  background: url(~@/asserts/login/mainback.png) center;

  header {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .loginform {
    padding: 0 20px;
    background: url(~@/asserts/login/formbg.png) no-repeat center top ;
  }

}

