:global {
  #root {
    display: flex;
    height: 100vh;
  }
  .ant-tooltip-open {
    pointer-events: none;
    position: absolute;
    right: 0;
    top:  0;
    bottom: 0;
    left:  0;
  }
}
.layout {
  flex-grow: 1;
}
